*
	{
    box-sizing: border-box;
  }

  body{
    margin: 0.5em;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
		background-color: #023e8a ;
  }

	.boxes{
		width: 25rem;
		height: 25rem;
		background-color: azure;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
		animation-name: tester ;
		animation-duration: 5s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		
	}

	.box{
		background-color: rgb(156, 249, 249);
		position: relative;
	}

	

	

	@keyframes tester {
	 50% { background-color: yellow};
	 100% {background-color: azure;}
	 0% { };	 
	}

	@keyframes movement {
		0% {left: 0px; top: 0px;}
		25% {left: -200px; top: 0px;}
		50% { left: -200px; top: 200px; }
		75% {left: 0px; top: 200px;}
		100% {left: 0px; top: 0px;}
	}

	@keyframes bg-transparent {
		0%   { }
		50%  { background-color: transparent;}
		100% { }
	}

	.box-3 .inner-box{
		position: absolute;
		width: 100%;
		height: 100%;
		animation-name: movement, bg-transparent;
		animation-duration: 8s, 4s;
		animation-iteration-count: infinite, infinite;
		animation-timing-function: ease-in-out, ease-in-out;
	}

	h3{
		color: gold;
		justify-self: center;
		align-self: center;
		text-align: center;
		margin-top: 45% ;
		padding: 0;
		margin-bottom: 0;
	}

	.box-3 > .inn-box-1
	{
		background-color: black;
		position: absolute;
		z-index: 2;
		animation-delay: 0s, 0s;
	}

	.box-3 > .inn-box-2
	{
		background-color: rgb(179, 32, 32);	
		animation-delay: -2s, 0s;	
		z-index: 1;
	}

	.box-3 > .inn-box-3
	{
		background-color: rgb(14, 78, 226);
		animation-delay: -4s, 0s;
	}

	.box-3 > .inn-box-4
	{
		background-color: rgb(46, 210, 71);
		animation-delay: -6s, 0s;	
		z-index: 1;
	}

	













